:root {
  --color-base-hue: 261;
  --color-danger-hue: 0;
  --color-background-dark: hsl(var(--color-base-hue), 100%, 10%);
  --color-background-light: hsl(var(--color-base-hue), 100%, 45%);
  --color-text-light: hsl(var(--color-base-hue), 100%, 85%);
  --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
  --color-btn-danger-text: black;
  --color-btn-border: black;
  --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 85%);
  --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 65%);
  --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 55%);
  --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 35%);
  --nav-title-font-size: 3rem;
  --nav-title-font-weight: bold;
  --nav-link-font-wieght: 300;
  --form-label-font-size: 1.2rem;
  --form-input-border-color: hsl(var(--color-base-hue), 100%, 60%);
  --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 80%);
  --form-input-background-color: hsl(var(--color-base-hue), 100%, 30%);

  --book-cover-width: 200px;
  --book-cover-width-large: 325px;
  --book-cover-aspect-ratio: 0.75;
}
